/* Boxes */
.info:before,
.warn:before {
	font-family: 'icons';
}
.info:before,
.warn:before {
	margin: 0 0.375em 0 0;
}
.info,
.warn {
	font-size: 0.938em;
	padding: 1.000em;
	margin: 0 1.000em 1.688em 1.000em;
    border-radius: 1em;
}
.info:before {
	content: "\2139";
}
.info {
	background: #88C0D0;
}
.warn:before {
	content: "\26a0";
}
.warn {
	background: #BF616A;
}

