.back-button,
.top-button {
    text-decoration: none;
    position: fixed;
    border: 0;
    padding: 0.5em;
    font-size: 2em;
    text-align: center;
    align-items: center;
    line-height: 1em;
    color: var(--background);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: var(--button);
    transition: all 1.5s ease;
}
.top-button {
	right: 2em;
	bottom: 0px;
}
.back-button {
	right: 10px;
	bottom: 0px;
}
.back-button:hover,
.top-button:hover {
    padding-bottom: 1em;
}

