.back-button,
.top-button {
    text-decoration: none;
    position: fixed;
    border: 0;
    padding: 0.5em;
    font-size: 2.5em;
    text-align: center;
    align-items: center;
    line-height: 1em;
    color: #E5E9F0;
    border-radius: 4em;
    background-color: #2E3440;
}
.top-button {
	right: 10px;
	bottom: calc(2.5em + 10px);
}
.back-button {
	right: 10px;
	bottom: 10px;
}
.back-button:hover,
.back-button:focus,
.top-button:hover,
.top-button:focus {
    background-color: #4C566A;
}

