h1,
h2,
h3,
h4 {
	font-weight: bold;
	line-height: 1.250em;
	text-transform: uppercase;
    padding-top: 2em;
    padding-bottom: 1em;
}
h1 {
	font-size: 3em;
    padding-bottom: 0em;
    padding-top: 1em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
}
