* {
	margin: 0;
	font: inherit;
	vertical-align: baseline;
}

html {
	background: var(--background);
	color: var(--foreground);
	font-family: serif;
	font-size: calc(0.875em + .2vw);
	line-height: 1.625em;
	margin: 0 auto;
	max-width: 54em;
}

body {
	animation: fadein 1.0s;
}

body p {
	padding-bottom: 1.5em;
	text-align: justify;
	text-justify: inter-word;
}

body figure {
	padding-bottom: 1.5em;
}

.image-caption p {
	margin: auto;
	width: 80%;
	text-align: center;
	font-size: 0.8em;
	font-style: italics;
}

.inline-code {
	font-family: monospace;
	white-space: nowrap;
	color: var(--accent);
	background: var(--table-even);
}

.image-wrapper {
	margin: auto;
	padding: auto;
	width: 90%;
}

.big-image {
	width: 100%;
	height: 100%;
	margin: auto;
	object-fit: contain;
}