nav {
}
nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    padding-bottom: 6em;
}
nav li {
    font-size: 2em;
    float: left;
    background-color: var(--button);
    padding: 0.5em;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition: all 1.5s ease;
}
nav li:hover {
    padding-top: 1em;
}
nav li a {
    text-decoration: none;
    color: var(--background);
}
