.buttons {
    border: 0em;
    border-radius: 10px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
    overflow:hidden;
    margin: auto;
}
.buttons thead {
	text-transform: uppercase;
	font-weight: bold;
    font-size: 1.2em;
}
.buttons thead tr:first-child th {
    text-align: center;
	white-space: nowrap;
}
.buttons thead tr:last-child {
    font-style: italic;
}
.buttons th {
	padding: 0.750em 1.000em;
    vertical-align: top;
	text-align: left;
}
.buttons td {
	padding: 0.750em 1.000em;
}
.buttons thead {
	background-color: var(--table-header);
}
.buttons tr:nth-child(even) {
	background-color: var(--table-odd);
}
.buttons tr:nth-child(odd) {
	background-color: var(--table-even);
}
.buttons p {
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 5px;
    width: 100%;
}

.grid-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.wide-element {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

