.buttons {
	border: 0em;
	border-radius: 10px;
	border-collapse: collapse;
	table-layout: fixed;
	width: 90%;
	overflow: hidden;
	margin: auto;
  page-break-before: avoid;
}

.buttons thead {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
}

.buttons thead tr:first-child th {
	text-align: center;
	white-space: nowrap;
}

.buttons thead tr:last-child {
	font-style: italic;
}

.buttons th {
	padding: 0.750em 1.000em;
	vertical-align: top;
	text-align: left;
}

.buttons td {
	padding: 0.750em 1.000em;
}

.buttons thead {
	background-color: var(--table-header);
}

.buttons tr:nth-child(even) {
	background-color: var(--table-odd);
}

.buttons tr:nth-child(odd) {
	background-color: var(--table-even);
}

.buttons tr, td {
  page-break-inside: avoid;
}

.buttons p {
	text-align: left;
	padding-right: 1em;
}

.grid {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
	row-gap: 5px;
	flex-wrap: wrap;
	width: 100%;
  height: 100%;
	margin: auto;
}

.wide-image,
.normal-image {
	float: center;
	object-fit: contain;
}

.normal-image {
	width: 31%;
}

.wide-image {
	width: calc(31% * 3 + 5px * 2);
}
