.toc {
  width: 70%;
  text-align: left;
  margin-right: auto;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 1.2em;
  line-height: 1em;
  color: var(--foreground);
  background-color: var(--table-even);
}

.toc * {
  text-align: left;
}

.toc:before {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  content: "Оглавление:";
}

.toc a {
  text-decoration: none;
  color: var(--accent);
}

.level1,
.level2,
.level3,
.level4 {
  padding-top: 0;
  padding-bottom: 0;
}

.level1:first-child {
  padding-top: 0.5em;
}

.level1 {
  padding-left: 0;
}

.level2 {
  padding-left: 1em;
}

.level3 {
  padding-left: 2em;
}

.level4 {
  padding-left: 3em;
}