<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Synapse media control system user manual">
  <meta name="author" content="g.cherdakly@int-sys.ru">
  <title>Document</title>
  <style>
  {{ range .Styles }}{{ printf "%s" . }}
  {{ end }}
  </style>
</head>

<body>
  <a class="top-button" href="#top">наверх</a>
  <a class="back-button" href="javascript:history.back()">назад</a>
  <h1><p class="tophead">Synapse</p><p class="bottomhead">руководство пользователя</p></h1>
  {{ printf "%s" .TOC }}
  {{ printf "%s" .Body }}
  <div style="user-select: none;" id="scrl"></div>
  <script>
  {{ range .Scripts }}{{ printf "%s" . }}
  {{ end }}
  </script>
  </body>
</html>